<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>div{margin: 10px;}</style>
  </head>
  <body>
    <h1>QuantifiedSelf</h1>
    <h3>Track & measure yourself!</h3>

    <br>
   
    <h2>User Login</h2>
    <form class="" action="/login" method="post" id="login-form">
      <div class="">
        <label for="">Username:</label>
        <input type="email" name="username" value="" required>
      </div>
      <div class="">
        <label for="">Password:</label>
        <input type="password" name="password" value="">
      </div>


      <div class="">
        <input type="submit" name="login" value="Login">
      </div>
      
    </form>
    <div class="">
      <a href="/register"><button type="submit">Register</button> </a>
    </div>
    your username is your email address. If you are not registered , then click on register.
  </body>
</html>
